<!DOCTYPE html>
<html>
  <head>
    <title>Expensive Products Report</title>
  </head>
  <body>
    <h1>Expensive Products Report</h1>
    <table>
      <tr>
        <th>Product Id</th>
        <th>Name</th>
        <th>Price</th>
      </tr>
      {% for product in expensive_products %}
      <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price | floatformat:2 }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
</body>
</html>