<!DOCTYPE html>
<html>
<head>
    <title>Unpaid Orders Report</title>
</head>
<body>
    <h1>Unpaid Orders Report</h1>
    <table>
        <tr>
            <th>Order ID</th>
            <th>Customer Name</th>
            <th>Total Cost</th>
        </tr>
        {% for order in report_data %}
        <tr>
            <td>{{ order.order_id }}</td>
            <td>{{ order.customer_name }}</td>
            <td>{{ order.total_cost|floatformat:2 }}</td>
         
        </tr>
        {% endfor %}
    </table>
</body>
</html>